* {
    display:block;
    margin: 0auto;
    font-family: 'Roboto Condensed', sans-serif;
    
}
body { 
    
    background: url(https://i.imgur.com/Ga91A2S.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
  }
h1 {
    align-content: flex-end;
    align-items: center;
    font-size: 75px;
    text-align: center;
    color:rgb(246, 15, 34)
    
}
h2 {
    align-content: flex-end;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
}

#spaceman {
    transform:translateY(100%) ;
    animation: float infinite 25s ease-in-out;
    height:150px;
    width:150px
    
 
}
div#rplybtn {
    justify-content: center;
    align-items: center;

}
article#container {
    align-items: center;
    align-content: center;
    justify-content: center;
    display:flex;
    height: 150px;
}
@keyframes ctrlpanel {
    0% { background-color: rgb(0, 0, 0); }
25% { background-color: rgb(102, 100, 96); }
50% { background-color: rgb(148, 189, 119); }
75% { background-color: rgb(111, 245, 15); }
100% { background-color: rgb(0, 119, 255); }
    
}
main {
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
}
button {
    align-items: center;
    align-content: center;
    justify-content: center;
    display:inline-flex;
    border-radius: 20%;
    height:75px;
    width:90px;
    color:white;
    font-size: xx-large;
    font-display: auto;
    animation-name: ctrlpanel;
    animation-duration: 6s;
    animation-iteration-count:infinite;
    
}
#rocket {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vh;
    height: 25vh;
    animation: won infinite 10s ease-in-out;
    

}
.wrong{
    visibility: hidden;
}



#asteroids {
    animation: fly infinite  50s ease-in-out ;
    width:250px;
    height:150px;
    background:none;
    float:right;
    transform:translateY(100%)
    
}

@keyframes fly {
    0% {
        transform: translateY(100%, 100vh);
    }
        100% { 
            transform: translate(-1000%, -75vmin);
        }
    }


#replay {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
@keyframes float {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes burner {
    
    0% {
        
        transform: translate(100%, 0);
    }
    100% {
        
        transform: translate(150%,-100vh);
    }
}

@keyframes won {

 from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}