* {
 display:block;

}
body {
 margin: 0;
 font-family: Helvetica;

}

main {
  display:inline-flex;
  
}
h1 {
text-align: center;
}

div {

}
/*.container {

}

.button {
height: 175px;
}
footer {
height: 50px;
}