* {
 display:block

}
body {
 margin: 0;
 font-family: Helvetica;
}

main {
 flex-direction: row;
}

div {
align-items: center; 
}
.container {
display:flex;
}

.button {
height: 175px;
}
footer {
height: 50px;
}